<div class="container">
    <div class="d-flex flex-wrap p-2">
        <div class="p-2" *ngFor="let user of users">
            <div class="card">
                <div class="card-header">
                    <img src="{{getPicture(user.gender, user.age)}}" width="150px" alt="">
                </div>

                <div class="card-body">
                    <p><b>Name : </b><span>{{ user.username }}</span></p>
                    <p><b>Age : </b><span>{{ user.age }}</span></p>
                    <button class="btn btn-sm btn-primary float-left" (click)="goToViewPage(user.id)">View</button>
                    <button class="btn btn-sm btn-danger float-right" (click)="remove(user.id)">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>